<link rel="stylesheet" href="./footer.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
<div class="footer-container">
    <div class="footer">
<div><a (click)="goToHome()" class = "footlogo">AGAIN</a></div>
<div class= "links">
    <div class= "link_list">
        <div class="linktitle"><a>BROWSE</a></div>
        <div class="linklist"><a>Men</a></div>
        <div class="linklist"><a>Women</a></div>
        <div class="linklist"><a>Children</a></div>
      </div>
<div class = "link_list">
  <div class="linktitle"><a>PRODUCT</a></div>
  <div class="linklist"><a>About</a></div>
  <div class="linklist"><a>Team</a></div>
  <div class="linklist"><a>Blog</a></div>
</div>
<div class= "link_list">
  <div class="linktitle"><a>SUPPORT</a></div>
  <div class="linklist"><a>Contact Us</a></div>
  <div class="linklist"><a>Help Centre</a></div>
</div>
<div class= "link_list">
  <div class="linktitle"><a>DISCOVER</a></div>
  <div class="linklist"><a>Other Ventures</a></div>
  <div class="linklist"><a>Braches Near You</a></div>
</div>


</div>
<div class="social_media_icons">
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-instagram"></a>
</div>
<div class="lastlinks"><a class="ll_text">Terms</a><a class="ll_text">Privacy</a><a class="ll_text2">© 2021 People Per Hour Ltd</a></div>
</div>
</div>
