.again-navbar{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(228, 228, 228);
}
.category{
    font-family: 'Shanti';
    font-size: 17px;
    transition: ease-in 0.1s;
}
.category:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}